html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font-size:10px;
    -webkit-tap-highlight-color:transparent 
}
* {
margin:0px;
padding:0px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin:0;
padding:0;
outline:0 
}

.bg-grey {
background:#f0f3fa;
}
.heading-section {
font-size: 25px;
text-align: center;
}
.heading-section span {
color: #787eff;
}
.subhead-section {
font-size: 16px;
text-align: center;
margin-bottom: 40px;
}
/*top headeri i perbashket me e marr prej origjinalit*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Headeri*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #005163;
    z-index: 999;
    position: sticky;
    top: 0;
    height: 80px;
    left: 0;
    box-shadow: 0 2px 2px #005163;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1px 10px;
    position: relative;
    margin: 8px;
    border: 1px solid #091a2b;
    border-radius: 14px;
    box-shadow: 0 0 8px #091a2b;
    width:90px;
    transition: all 0.3s ease;
}

#navbar li a{
    text-decoration: none;
    font-size: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #c8e5ff;
    transition: 0.3s ease;
}
#navbar li:hover, #navbar li:has(a.active) {
    border-bottom: 3px solid #091a2bcc;
    border-top: 3px solid #091a2bcc;
    border-right: 2px solid #091a2bcc;
    border-left: 2px solid #091a2bcc;
    transition: 0.1s;
    margin:12px;
    transform: scale(1.2);}
#navbar li a:hover,
#navbar li a.active {
    transition:all 0.2s ease-in-out;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #005163;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    color: black;
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    color: #818ea0;
    font-size: 13px;
    margin: 0 0 8px 0;
}
 
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #818ea0;
    margin-bottom: 20px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow {
    color : #465b52;
    padding-right: 4px;
    cursor: pointer;
}



footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


.up{
    background-video:transparent;

    z-index: -1;
}
.books{
    display: inline;
    display: flex;
}
.slider {
    width: 500px;
    height: 250px;
    margin-left: 30%;
    margin-bottom: 100px;
    overflow: hidden;
    transform: translateY(30%);
  }
  .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .image {
    width: 100%;
    height: 100%
  }

.prev,
.next {
  cursor: pointer;
  background-color: #ffffff90;
  color: #000000;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
  