html, body {
    height: 100%;
    background-color: #005163;
}



.container-fluid {
    width: 100%;
    min-height: 100%;
    background-color: #ccdcdf;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1000;
    
}

.row {
    padding-bottom: 20px;
}

.sell {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    color: #ffff;
    background-color: #005163;
    border-color: #091a2b;
}

.description {
    min-height: 100%;
  
}

.title {
    width: 100%;
}

.price-holder {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: left;
}

.price-holder label{
    grid-column-start: 1;
}   
   


.price-holder input {
    grid-column-start: 2;
}

.image-holder {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    align-items: center;
}

.image-holder img {
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.col-marg {
    margin: 20px;
}
.info-holder {
    display:grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: left;
}
.title-holder {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: left;
}

.slider-holder {
    display: grid;
    align-items: center;
}

.mySlides{
    align-self:center;
    justify-self: center;
}
  


.w3-left, .w3-right, .w3-badge {
    cursor:pointer;
    position: absolute;
    opacity: 0.7;
}
.w3-badge {height:13px;width:13px;padding:0}
.w3-display-container{
    max-width:800px;
    display: flex;
    align-items: center;
}
.w3-display-bottommiddle{
    width:100%;
    background-color: #00000029;
    display: flex;
    align-items: center;
}
.house-container {
    display: none;
}
.apartment-container {
    display: none;
}
.container-start{
    min-height: calc(100% - 80px);
    display: grid;
}
.button-container{
    min-height: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}
.button1, .buttonRent{
    min-height: 100%;
    min-width: 100%;
    
    color:#005163;
    border-right: 5px solid #005163;
    background-position-x: center;
    background-size: cover;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.buttonRent{
    background-color: #ccdcdf;
    background-image: url(rent.svg);
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
   
    }
.button1{background-image: url(house.jpg);}
.button1 h1, .button2 h1{
    font-size: 60pt;
    font-family: Tahoma, sans-serif;
    padding:10px 10px;
    border-radius: 30pt;
    transition: all 0.3s ease-in;
    border: 2px solid #005163;
    box-shadow: 0 0 5px #00516396;
    background-color: #ffffff20
}


.button1:hover, .buttonRent:hover{
    transform: scale(1.5);
    overflow: hidden;
    transition-duration: 300ms;
}
.buttonRent:hover{
    transform: scale(1);
    transition-duration: 300ms;
    box-shadow: inset 0 -5px 300px #005163e0;
}

.button1:hover h1{
    transform: translateX(+15%); 
    
}
.button2:hover h1{
    transform: translateX(-15%);    
 }
 .button1:hover h1, .button2:hover h1{
    border: 5px double #005163;
    box-shadow: 0 0 20px 300px #0051634c;
    text-shadow: 0 0 20px 30px #005163;
    transition-duration: 300ms;
    
}
.button2, .buttonSell{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    min-width: 100%;
    color:#005163;
    border-left: 5px solid #005163;
    background-position-x: center;
    background-size: cover;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.button2{
    
    background-image: url(apatment.png);}
.buttonSell{
    background-color: #ccdcdf;
    background-image: url(apatment.png);
    background-size:100%;
    background-image: url(sale.svg);
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;}
.button2:hover, .buttonSell:hover{
   
    transform: scale(1.5);
    overflow: hidden;
    transition-duration: 300ms;

}

.buttonSell:hover{
    transform: scale(1);
    transition-duration: 300ms;
    box-shadow: inset 0 -5px 300px #005163e0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: linear-gradient(to right, #005163, #00181d);
    z-index: 999;
    position: sticky;
    top: 0;
    height: 80px;
    left: 0;
    box-shadow: 0 2px 2px #005163;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1px 10px;
    position: relative;
    margin: 8px;
    border: 1px solid #ffffff;
    border-radius: 14px;
    box-shadow: 0 0 3px #ffffff;
    width:90px;
    transition: all 0.3s ease;
}

#navbar li a{
    text-decoration: none;
    font-size: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}
#navbar li:hover, #navbar li:has(a.active) {
    border-bottom: 3px solid #ffffffcc;
    border-top: 3px solid #ffffffcc;
    border-right: 2px solid #ffffffcc;
    border-left: 2px solid #ffffffcc;
    transition: 0.1s;
    margin:12px;
    transform: scale(1.2);}
#navbar li a:hover,
#navbar li a.active {
    transition:all 0.2s ease-in-out;
}

#imageHolder{
    min-width: 100%;
    min-height: 370px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
.delete {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    background-color: transparent;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    height:44px;
    width:44px;
    background-image: url(delete.png);
    background-size: cover; 
    background-repeat: no-repeat;
  }
.delete:hover{
    transform: scale(1.2);
    transition-duration: 100ms;
    border: transparent;
}
.delete:focus{
    border: transparent;
    outline: none;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #b2cad0;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #005163;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #005163;
    cursor: pointer;
  }

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #005163;
    cursor: pointer;
  }
label{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #005163;
}
span{
    font-style: italic;
    font-weight: 400;
 }
.col-custom{
    padding-top: 7px;
}
#phone{
    border-radius: 22px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
textarea[id="description"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #b2cad0;
  color: #005163;
  border: 1px solid #091a2b;
  border-radius: 18px;
  opacity: 80%;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea[id="description"]:focus {
    border-color: #005163;
    background-color: #b2cad0;
    box-shadow: 0 0 8px #091a2b;
    color: #005163;
    opacity: 100%;
}
input[type="text"]::placeholder, 
input[type="number"]::placeholder, 
input[type="tel"]::placeholder,
 textarea[id="description"] ::placeholder {
    color: 	#3b4876;
}
.w3-right{
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: #b2cad0;
    background-image: url(arrow.png);
    background-size: cover;
}
.w3-left{
    left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: #b2cad0;
    background-image: url(arrow.png);
    background-size: cover;
    transition: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#headerbuttons{
    display: flex;
    align-items: center;
}

dl, ol, ul {
    margin:0;
}

.second{
    display:none;
}
.upload{
    width: 80%;
    align-self: center;
    justify-self: center;
}
.iti.iti--allow-dropdown{
    margin-left: 9%;
    width:300px;
}
.negl,.cont {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
.negl input,.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
/* Create a custom checkbox */
.checkmark  {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b2cad0;
    border: 1px solid #005163;
    border-radius: 4px;

  }
  
  /* On mouse-over, add a grey background color */
  .negl:hover input ~ .checkmark,.cont:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .negl input:checked ~ .checkmark,.cont input:checked ~ .checkmark {
    background-color: #005163;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .negl input:checked ~ .checkmark:after ,.cont input:checked ~ .checkmark:after {
    display: block;
  }

  .negl .checkmark:after,.cont .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .btn:hover{
        background-color: #196272;
        outline: 2px solid #b2cad0;
  }